################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/yt_DesignUI/obj
/yt_DesignUI/bin/Debug
/.vs
